<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>homeP</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filter.LoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CheckRole</filter-name>
        <filter-class>filter.CheckRole</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CheckRole</filter-name>
        <url-pattern>/dashboard.jsp</url-pattern>
        <url-pattern>/dashboardControl</url-pattern>
        <url-pattern>/Bill</url-pattern>
        <url-pattern>/updateBill</url-pattern>
        <url-pattern>/useService</url-pattern>
        <url-pattern>/BookRoom</url-pattern>
        <url-pattern>/RoomType</url-pattern>
        <url-pattern>/Room</url-pattern>
        <url-pattern>/UpdateR</url-pattern>
        <url-pattern>/Describle</url-pattern>
        <url-pattern>/ListServiceT</url-pattern>
        <url-pattern>/UpdateS</url-pattern>
        <url-pattern>/Dservice</url-pattern>
        <url-pattern>/Vouchers</url-pattern>
        <url-pattern>/UpdateV</url-pattern>
        <url-pattern>/VEm</url-pattern>
        <url-pattern>/UpE</url-pattern>
        <url-pattern>/SE</url-pattern>
        <url-pattern>/VUs</url-pattern>
        <url-pattern>/QLus</url-pattern>
        <url-pattern>/SearchAccount</url-pattern>
        <url-pattern>/UDQ</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/AddCustomer</url-pattern>
        <url-pattern>/pay</url-pattern>
        <url-pattern>/BookR</url-pattern>
        <url-pattern>/Service</url-pattern>
        <url-pattern>/Buy</url-pattern>
        <url-pattern>/UseService</url-pattern>
        <url-pattern>/process</url-pattern>
        <url-pattern>/vBill</url-pattern>
        <url-pattern>/myprofile</url-pattern>
        <url-pattern>/mybill</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>homepageControl</servlet-name>
        <servlet-class>control.homepageControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>roomControl</servlet-name>
        <servlet-class>control.roomControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>roomdetailControl</servlet-name>
        <servlet-class>control.roomdetailControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listRoomByID</servlet-name>
        <servlet-class>control.listRoomByID</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>aboutControl</servlet-name>
        <servlet-class>control.aboutControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>galleryControl</servlet-name>
        <servlet-class>control.galleryControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginControl</servlet-name>
        <servlet-class>control.LoginControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpControl</servlet-name>
        <servlet-class>control.SignUpControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutControl</servlet-name>
        <servlet-class>control.LogoutControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>payControl</servlet-name>
        <servlet-class>control.payControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BillControl</servlet-name>
        <servlet-class>control.BillControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>myProfile</servlet-name>
        <servlet-class>control.myProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchRoom</servlet-name>
        <servlet-class>control.searchRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Bill</servlet-name>
        <servlet-class>ServletAdmin.Bill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookRoom</servlet-name>
        <servlet-class>ServletAdmin.BookRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Employees</servlet-name>
        <servlet-class>ServletAdmin.Employees</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Room</servlet-name>
        <servlet-class>ServletAdmin.Room</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchService</servlet-name>
        <servlet-class>ServletAdmin.SearchService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceE</servlet-name>
        <servlet-class>ServletAdmin.ServiceE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceET</servlet-name>
        <servlet-class>ServletAdmin.ServiceET</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateS</servlet-name>
        <servlet-class>ServletAdmin.UpdateS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateV</servlet-name>
        <servlet-class>ServletAdmin.UpdateV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Vbill</servlet-name>
        <servlet-class>ServletAdmin.Vbill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoucherE</servlet-name>
        <servlet-class>ServletAdmin.VoucherE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatR</servlet-name>
        <servlet-class>ServletAdmin.CreatR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatS</servlet-name>
        <servlet-class>ServletAdmin.CreatS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatV</servlet-name>
        <servlet-class>ServletAdmin.CreatV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DE</servlet-name>
        <servlet-class>ServletAdmin.DE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DU</servlet-name>
        <servlet-class>ServletAdmin.DU</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletR</servlet-name>
        <servlet-class>ServletAdmin.DeletR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletS</servlet-name>
        <servlet-class>ServletAdmin.DeletS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteV</servlet-name>
        <servlet-class>ServletAdmin.DeleteV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Describle</servlet-name>
        <servlet-class>ServletAdmin.Describle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListService</servlet-name>
        <servlet-class>ServletAdmin.ListService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListServiceT</servlet-name>
        <servlet-class>ServletAdmin.ListServiceT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QLus</servlet-name>
        <servlet-class>ServletAdmin.QLus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomType</servlet-name>
        <servlet-class>ServletAdmin.RoomType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SE</servlet-name>
        <servlet-class>ServletAdmin.SE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchR</servlet-name>
        <servlet-class>ServletAdmin.SearchR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchRoomtype</servlet-name>
        <servlet-class>ServletAdmin.SearchRoomtype</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchS</servlet-name>
        <servlet-class>ServletAdmin.SearchS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UDQ</servlet-name>
        <servlet-class>ServletAdmin.UDQ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpE</servlet-name>
        <servlet-class>ServletAdmin.UpE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateR</servlet-name>
        <servlet-class>ServletAdmin.UpdateR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VEm</servlet-name>
        <servlet-class>ServletAdmin.VEm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VUs</servlet-name>
        <servlet-class>ServletAdmin.VUs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Vouchers</servlet-name>
        <servlet-class>ServletAdmin.Vouchers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>useService</servlet-name>
        <servlet-class>ServletAdmin.useService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactControl</servlet-name>
        <servlet-class>control.ContactControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgotPassword</servlet-name>
        <servlet-class>control.forgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateOtp</servlet-name>
        <servlet-class>control.ValidateOtp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewPassword</servlet-name>
        <servlet-class>control.NewPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mybill</servlet-name>
        <servlet-class>control.mybill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VbillC</servlet-name>
        <servlet-class>control.VbillC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelBill</servlet-name>
        <servlet-class>control.CancelBill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dservice</servlet-name>
        <servlet-class>ServletAdmin.Dservice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dashboardControl</servlet-name>
        <servlet-class>ServletAdmin.dashboardControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>homepageControl</servlet-name>
        <url-pattern>/homeP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>roomControl</servlet-name>
        <url-pattern>/room</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>roomdetailControl</servlet-name>
        <url-pattern>/roomdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listRoomByID</servlet-name>
        <url-pattern>/listRoomByID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aboutControl</servlet-name>
        <url-pattern>/about</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>galleryControl</servlet-name>
        <url-pattern>/gallery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginControl</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpControl</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutControl</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>payControl</servlet-name>
        <url-pattern>/pay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BillControl</servlet-name>
        <url-pattern>/bill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>myProfile</servlet-name>
        <url-pattern>/myprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchRoom</servlet-name>
        <url-pattern>/searchR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Bill</servlet-name>
        <url-pattern>/Bill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookRoom</servlet-name>
        <url-pattern>/BookRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Employees</servlet-name>
        <url-pattern>/Employees</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Room</servlet-name>
        <url-pattern>/Room</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchService</servlet-name>
        <url-pattern>/SearchService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceE</servlet-name>
        <url-pattern>/ServiceE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceET</servlet-name>
        <url-pattern>/ServiceET</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateS</servlet-name>
        <url-pattern>/UpdateS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateV</servlet-name>
        <url-pattern>/UpdateV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vbill</servlet-name>
        <url-pattern>/Vbill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoucherE</servlet-name>
        <url-pattern>/VoucherE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatR</servlet-name>
        <url-pattern>/CreatR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatS</servlet-name>
        <url-pattern>/CreatS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatV</servlet-name>
        <url-pattern>/CreatV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DE</servlet-name>
        <url-pattern>/DE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DU</servlet-name>
        <url-pattern>/DU</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletR</servlet-name>
        <url-pattern>/DeletR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletS</servlet-name>
        <url-pattern>/DeletS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteV</servlet-name>
        <url-pattern>/DeleteV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Describle</servlet-name>
        <url-pattern>/Describle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListService</servlet-name>
        <url-pattern>/ListService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListServiceT</servlet-name>
        <url-pattern>/ListServiceT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QLus</servlet-name>
        <url-pattern>/QLus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomType</servlet-name>
        <url-pattern>/RoomType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SE</servlet-name>
        <url-pattern>/SE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchR</servlet-name>
        <url-pattern>/SearchR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchRoomtype</servlet-name>
        <url-pattern>/SearchRoomtype</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchS</servlet-name>
        <url-pattern>/SearchS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UDQ</servlet-name>
        <url-pattern>/UDQ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpE</servlet-name>
        <url-pattern>/UpE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateR</servlet-name>
        <url-pattern>/UpdateR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VEm</servlet-name>
        <url-pattern>/VEm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VUs</servlet-name>
        <url-pattern>/VUs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vouchers</servlet-name>
        <url-pattern>/Vouchers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>useService</servlet-name>
        <url-pattern>/useService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactControl</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgotPassword</servlet-name>
        <url-pattern>/forgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateOtp</servlet-name>
        <url-pattern>/ValidateOtp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewPassword</servlet-name>
        <url-pattern>/NewPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mybill</servlet-name>
        <url-pattern>/mybill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VbillC</servlet-name>
        <url-pattern>/VbillC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelBill</servlet-name>
        <url-pattern>/CancelBill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dservice</servlet-name>
        <url-pattern>/Dservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dashboardControl</servlet-name>
        <url-pattern>/dashboardControl</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
